# Build directories
build/
**/build/
cmake-build-*/

# Binary files
*.bin
*.o
*.so
*.a
*.dll
*.dylib
*.exe
bin/
lib/

# CUDA specific
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Editor files
.vscode/
*.swp
*.swo
*~

# System files
.DS_Store
Thumbs.db

# Other
*.log
log/
*.nsys-rep
*.sqlite

# third party
eigen-3.4.0/
raft/
raft_install/


examples/
test/
test_raft/
anns_results/
library/
profiler/

index/
conda/
pytool/

*.sh
refine.md